body {
	font-type: Helvetica, sans-serif;
	/* background-color: #e8f2ff; */
}

div {
	/* border: 2px solid black; */
	margin: auto;
	margin-top: 8px;
	margin-bottom: 8px;
	padding: 5px;
}

.div_with_text_stuff {
	background-color: #f3f6f8;
}

a {
	text-decoration: none;
	color: #a20027;
}

table {
	border: 1px solid #e5ee;
}

thead {
	background-color: #f3f6f8;
	border-bottom: 2px solid #e5ee;
}

tbody {
	background-color: #f3f6f8;
}

td, th {
	text-align: center;
	background-color: ffffff;
}

td:first-child {
	padding-right: 3px;
}

td:first-child + td {
	text-align: left;
	font-family: cursive;
}

td:first-child + td + td {
	text-align: left;
}

h1 {
	text-align: center;
}

.middle {
	text-align: center;
}