body {
	font-family: Helvetica, sans-serif;
}

div {
	margin: auto;
	margin-top: 8px;
	margin-bottom: 8px;
	padding: 5px;
}

.center_aligned {
	text-align: center;
}

.div_with_text_stuff {
	background-color: #f3f6f8;
}

a {
	text-decoration: none;
	color: blue;
	text-align: left;
}

table {
	background-color: #eee;
	margin: auto;
}

thead {
	background-color: #f3f6f8;
	border-bottom: 2px solid #eee;
}

tbody {
	background-color: #f3f6f8;
}

td, th {
	text-align: center;
	background-color: #ffffff;
	border: 1px solid #eee;
}

td:first-child {
	padding-right: 3px;
}

td:first-child + td {
	text-align: left;
	font-family: cursive;
}

td:first-child + td + td {
	text-align: left;
}

h1 {
	text-align: center;
}

.middle {
	text-align: center;
}

p {
	text-align: left;
}

fieldset {
/*	border: 0; */
}