body {
	background-color: #e8f2ff;
}

div {
	border: 2px solid black;
	margin: auto;
	margin-top: 8px;
	margin-bottom: 8px;
	padding: 5px;
	background-color: #f2ecff;
}

a {
	text-decoration: none;
	color: #a20027;
}

table {
	background-color: #ccd3ff;
}

thead {
	background-color: #a5bcf6;
}

tbody {
	background-color: #b5d5ff;
}

td {
	text-align: center;
}

td:first-child {
	padding-right: 3px;
	border-right: 1px solid black;
}

td:first-child + td {
	text-align: left;
	font-family: cursive;
	border-right: 1px solid black;
}

td:first-child + td + td {
	text-align: left;
	border-right: 1px solid black;
}

td:first-child + td + td + td {
	border-right: 1px solid black;
}

h1 {
	text-align: center;
}

.middle {
	text-align: center;
}